[submodule "lib/enet-socks5"]
	path = lib/enet-socks5
	url = https://github.com/zKevz/enet-socks5.git
[submodule "lib/cpr"]
	path = lib/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
